[submodule "apps/shitmoji"]
	path = apps/shitmoji
	url = https://github.com/acham1/shitmoji
	branch = master
[submodule "lib/ruby/classy-sv"]
	path = lib/ruby/classy-sv
	url = https://github.com/acham1/classy-sv
	branch = master
[submodule "lib/typescript/expresaga"]
	path = lib/typescript/expresaga
	url = https://github.com/acham1/expresaga
	branch = master
